@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.poppins-semibold {
    font-family: "Poppins", serif;
    font-weight: 600;
    font-style: normal;
  }

:root{
    --font-color-b: rgba(58, 58, 58, 1);
    --btn-color: rgba(224, 44, 109, 1);
    --font-color-t: rgba(24, 25, 31, 1);
    --footer-bg-color: #0A0826 ;
    --feature-fontP-color:rgba(108, 108, 108, 1);
    --font-size-bt: 3.25rem;
    --font-size-p: 1rem;
    --font-size-t: 1.75rem;
}
/* Shared Styles */
body{
    background-color: whitesmoke;
}
.text-center{
    text-align: center;
}
main > section{
    max-width: 1440px;
    margin: 35px auto;
}
.tittle{
    color: var(--font-color-t);
    font-size: var(--font-size-t);
    font-weight: 500;
}
.sub-tittle{
    color: var(--font-color-b);
    font-size: var(--font-size-t);
    font-weight: 600;
}
.paragraph{
    color: var(--font-color-t);
    font-size: var(--font-size-p);
    font-weight: 500;
}
/* Start main Style */

header{
    max-width: 1440px;
    margin: 50px auto;
}
.logo{
    color: var(--font-color-b);
    font-size: var(--font-size-t);
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style: none;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    color: var(--font-color-b);
    font-size: var(--font-size-p);
    font-weight: bold;
}
/* Banner-Part */

.bannerSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    background-image: url(./images/Circle\ design.svg);
    background-position: right center;
    background-repeat: no-repeat;
    /* background-size: contain; */
    padding: 80px 0px;
}
.banner-item{
    max-width: 580px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.banner-tittle{
    font-size: var(--font-size-bt);
    color: var(--font-color-b);
    font-weight: 700;
    line-height: 70px;
}
.btn-primary{
    color: #fff;
    background-color: var(--btn-color);
    font-size: var(--font-size-p);
    font-weight: 600;
    padding: 10px 20px;
    outline: none;
    border: none;
    border-radius: 30px;
}

/* Sponsors Part */

.sponsors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 2px 2px 2.3px #ddd;
    padding: 40px 0px;
}

/* Popular Section */
.popular-collection .sub-tittle{
    margin-top: 70px;
    margin-bottom: 30px;
}
.div{
    margin-top: 30px;
    text-align: center;
}
.div button{
    border: none;
    font-size: 1rem;
    font-weight: 700;
    outline: none;
}
.div button a{
    color: var(--btn-color);
    text-decoration: none;
}

.popular-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-items: center;
    align-content: space-between;
}
.popular-items{
    box-shadow: 0px 2px 2px 2.3px #ddd;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.popular-items img{
    width: 100%;
}
.dollar-tittle{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--font-color-t);
}
.star-div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.star-div .star{
    color: #FF9900;
}
.star-div h4{
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--font-color-t);
}
.text p, h5{
    font-size: 1rem;
    font-weight: 500;
    color: var(--feature-fontP-color);
}